@import "tailwindcss";
@import "./keyframes.css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* fonts */

  --font-amatic: Amatic SC, san-serif;
  --font-kalam: Kalam, san-serif;

  /* colors */

  --color-light-theme: #f3f4f6;
  --color-dark-theme: #1f2937;

  --color-light-blue: #7dd3fc;
  --color-dark-grey: #161b22;
  --color-very-light: rgba(0, 0, 0, 0.2);

  --color-mobile-light-transition: #488fd1;
  --color-tablet-light-transition: #4d94d6;
  --color-desktop-light-transition: #5195d6;
  --color-wide-light-transition: #63a1de;
  --color-extra-wide-light-transition: #99c7ee;
  --color-mobile-dark-transition: #020305;
  --color-desktop-dark-transition: #020305;

  /* backgrounds */

  --background-image-night-sky: url("/backgrounds/dark-background.jpg");
  --background-image-day-sky: url("/backgrounds/light-background.jpg");
}

.text-dynamic-theme {
  @apply text-[var(--color-dark-theme)] dark:text-[var(--color-light-theme)];
}
