/* clouds */

@keyframes cloud-mobile-animation {
  0% {
    left: 0%;
    opacity: 0;
  }
  50% {
    left: 30%;
    opacity: 0.9;
  }
  100% {
    left: 60%;
    opacity: 0;
  }
}
@keyframes cloud-mobile-reverse-animation {
  0% {
    left: 60%;
    opacity: 0;
  }
  50% {
    left: 30%;
    opacity: 0.9;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}
@keyframes cloud-tablet-animation {
  0% {
    left: 0%;
    opacity: 0;
  }
  50% {
    left: 40%;
    opacity: 0.9;
  }
  100% {
    left: 80%;
    opacity: 0;
  }
}
@keyframes cloud-tablet-reverse-animation {
  0% {
    left: 80%;
    opacity: 0;
  }
  50% {
    left: 40%;
    opacity: 0.9;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}
@keyframes cloud-desktop-animation {
  0% {
    left: 0%;
    opacity: 0;
  }
  50% {
    left: 50%;
    opacity: 0.9;
  }
  100% {
    left: 90%;
    opacity: 0;
  }
}
@keyframes cloud-desktop-reverse-animation {
  0% {
    left: 90%;
    opacity: 0;
  }
  50% {
    left: 50%;
    opacity: 0.9;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}

/* stars */

@keyframes star-animation {
  0% {
    left: 0%;
    opacity: 0;
  }
  50% {
    left: 50%;
    opacity: 0.9;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}
@keyframes star-reverse-animation {
  0% {
    left: 100%;
    opacity: 0;
  }
  50% {
    left: 50%;
    opacity: 0.9;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}
